.Weather .icon-summary {
  position: relative;
  text-align: center;
  top: -30px;
  text-transform: capitalize;
}
.Weather h1 {
  margin-bottom: 25px;
}

.Weather .main-overview {
  list-style: none;
  color: #6d6b6b;
  padding: 0;
}
.Weather .weather-temperature {
  line-height: 72px;
  text-align: center;
}
.Weather .weather-temperature .main-temp {
  font-size: 58px;
  line-height: 55px;
  position: relative;
  left: 18px;
}
.Weather .unit {
  position: relative;
  top: -30px;
  left: 18px;
}
.Weather a {
  text-decoration: none;
}

@media (max-width: 400px) {
  .Weather .weather-temperature {
    line-height: 72px;
  }
  .Weather .main-overview {
    font-size: 13px;
  }
  .Weather .icon-summary {
    position: relative;
    right: -20px;
    text-align: center;
  }
}
